.posts {
    max-height: 200px;
    overflow:auto; /* прокрутка по горизонтали */
    display: flex;
    flex-direction: column;
}

.new_post {
    display: flex;
    justify-content: space-between;
    /*background-color: #c7c7c7;*/
    border-radius: 15px;
    padding: 15px;
    margin: 20px;

}
.new_post input {
    background-color: #c7c7c7;
    border: 0 solid;
    padding: 15px;
    border-radius: 15px;
    font-family: var(--font-post);
    color: black;
    width: 80%;

}

.new_post input:focus {
    background-color: #4158D0;
    background-image: linear-gradient(43deg, #4158D0 0%, #C850C0 46%, #FFCC70 100%);
    color: white;
    outline: none;
}

.new_post button {
    text-align: center;
    background-color: rgba(199, 199, 199, 0);
    border-radius: 15px;
    border: 1px solid #8d8d8d;
    font-family: var(--font-nav);
    align-self: center;
    width: 10%;
}

.new_post button:hover {
    background-color: rgba(167, 167, 167, 0.22);
}

.new_post button:active {
    background-color: #4158D0;
    color: #ffffff;
    border: 0;
}

.header {
    margin: 10px 20px;
    font-family: var(--font-header);
    font-size: 50px;
    /*background-color: #333399;*/
}
.item {
    border-radius: 15px;
    border: 1px solid rgba(172, 172, 172, 0.16);
    margin: 20px 0;
    background-color: rgba(95, 95, 95, 0.03);
}
