.nav {
    grid-area: n;
    justify-self: center;
    /*background-color: bisque;*/
    display: grid;
    grid-template: repeat(5, 50px) / minmax(150px,240px);
}
.nav div:nth-child(1){

}
.item a:nth-child(1){
    margin-top: 50px;
}
.item a{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(95, 95, 95, 0.03);
    padding: 10px;
}
.item a:hover {
    background-color: #4158D0;
    color: white;
}
.item a:active {
    background-color: #a541d0;
    color: white;
}
.item a {
    color: rgba(0, 0, 0, 0.48);
    font-family: var(--font-post);
    font-size: 24px;
    font-weight: bolder;
}
